.btn-custom {
  background-color: $secondary-color !important;
  border-radius: 10px !important;
}

.secondary-btn-custom {
  background-color: white !important;
  color: $secondary-color !important;
  border-radius: 10px !important;
}
