.header-main {
  height: 120px !important;
  background-color: $primary-color !important;
}

.nav-right {
  gap: 20px;
}

.header {
  .menu-item {
    a {
      color: #ffffff !important;
    }
  }
}

.icon-search {
  color: #ffffff !important;
}

.cart-item {
  a {
    color: #ffffff !important;
  }
}
.header-search {
  a {
    margin-left: 30px;
  }
}
