// // @import './fonts/fonts';
@import "./mixins";
@import "./components/header";
@import "./components/button";
@import "./components/footer";
@import "./pages/home-page";

.pb-0 {
  padding-bottom: 0 !important;
}

.p-20 {
  padding: 20px !important;
}

.no-underline {
  a {
    border-bottom-style: none !important;
  }
}
